
/* Merriweather */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  src: url("/font file/MerriweatherSans/MerriweatherSans-Regular.ttf");
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  src: url("/font file/MerriweatherSans/MerriweatherSans-Italic.ttf");
}

@font-face {
  font-family: 'Merriweather';
  font-style: bold;
  src: url("/font file/MerriweatherSans/MerriweatherSans-Bold.ttf");
}


/* Monsterrat */
@font-face {
  font-family: 'Monsterrat';
  font-style: normal;
  src: url("/font file/Monsterrat/Monsterrat-Regular.ttf");
}

@font-face {
  font-family: 'Monsterrat';
  font-style: italic;
  src: url("/font file/Monsterrat/Monsterrat-Italic.ttf");
}

@font-face {
  font-family: 'Monsterrat';
  font-style: bold;
  src: url("/font file/Monsterrat/Monsterrat-SemiBold.ttf");
}



* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {

}

html,
body,
#root,
.app-component,
.dashboard {
  min-height: 100vh;
}


body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  /* padding: 1rem; */
  margin: 0px;
}

@media screen and (max-width: 1100px) {
  body {
    padding: 0.33rem;
  }
}

/* dont inherit font from parent */
button,
input,
textarea,
select {
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px !important;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  color: black;
  padding: 20px;
}


#mobile-menu-wrapper {
  display: none;
}

@media screen and (max-width: 1200px) {
  #mobile-menu-wrapper {
    display: initial;
  }
  #sidebar-wrapper {
    display: none;
  }
  #calendar {
    display: none;
  }
}