div .welcome-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("/welcome-banner.png");
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-size: cover;
}

div .welcome-banner {
  border-radius: 15px;
  width: 65%;
  height: 100%;
  background-size: cover;
  color: #f2f2f2;
  padding-left: 35px;
  padding-right: 50px;
  
}

.welcome-back-user {
  font-size: 2.8rem;
  font-family: 'Merriweather';
  font-style: normal;
}
.jobssubmitted-thisweek {
  font-size: 1.5rem;
  font-family: 'Roboto';
  font-style: normal;
}

.books-img-box {
  background-image: url("/books.png");
  height: 300px;
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(20deg) translateX(-15%) translateY(15%);

}

.calendar {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
  min-width: 400px;
}

.sidebar-container {
  background-color: white;
  height: 100vh;
}

#dash {
  padding-top: 0;
}

.recent-job-apps {
  margin-bottom: -20px;
  font-size: 1.2rem;
  font-family: 'Roboto';
  padding-left: 15px;
}

.job-messages {
  margin-top: 0;
  font-size: 18px;
  padding-left: 15px;
}

@media screen and (max-width: 1200px) {
  #white-bg {
    background-color: transparent !important;
    position: absolute;
    height: 0px;
  }
}

@media (max-width: 768px) {

  .welcome-back-user {
    font-size: 2rem; 
  }
  
  .jobssubmitted-thisweek {
    font-size: 1rem;
  }

  div .welcome-banner {
    padding-left: 20px; 
    min-width: 250px;
  }

}


  