div .welcome-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("/welcome-banner.png");
  width: 100%;
  padding-left: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-size: cover;
  padding: 20px;
}

div .welcome-banner {
  border-radius: 15px;
  width: 55%;
  height: 100%;
  /* box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
  background-size: cover;
  color: #f2f2f2;
}

div .books-img-box {
  background-image: url("/books.png");
  width: 30%;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
}

.calendar {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
}

.sidebar-container {
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem !important;
  background-color: white;
  height: 100vh;
}

#dash {
  padding-top: 0;
}

.recent-job-apps {
  margin-bottom: -35px;
}
