div .welcome-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("/welcome-banner.png");
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-size: cover;
  /* padding: 20px; */
}

div .welcome-banner {
  border-radius: 15px;
  width: 65%;
  height: 100%;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
  background-size: cover;
  color: #f2f2f2;
  padding-left: 35px;
}

.welcome-back-user {
  font-size: 2.5vw;
}
.jobssubmitted-thisweek {
  font-size: 1.25vw;

}
div .books-img-box {
  background-image: url("/books.png");
  width: 30%;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(20deg);
}

.calendar {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
}

.sidebar-container {
  /* border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
  /* padding-top: 1.05rem !important; */
  /* padding-left: 2rem !important; */
  background-color: white;
  height: 100vh;

}

#dash {
  padding-top: 0;
}

.recent-job-apps {
  margin-bottom: -30px;
}


/* Adjustments for screens smaller than 768px */
@media (max-width: 768px) {

  .welcome-back-user {
    font-size: 5vw; 
  }
  
  .jobssubmitted-thisweek {
    font-size: 2.5vw;
  }

  div .welcome-banner {
    padding-left: 20px; 
    min-width: 250px;
  }
}

  .welcome-back-user {
    font-size: 5vw;
  }
  
  .jobssubmitted-thisweek {
    font-size: 2.5vw;
  }

  div .welcome-banner {
    padding-left: 20px; 

}