@import "../rootVars.css";

.welcome {
    text-align: center;
    font-size: 20px;
    color: var(--text-dark);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    background-color: var(--color-light);
    border: 2px solid var(--color-dark); 
    border-radius: 5px; 
    margin: 10px; 
    padding: 10px; 
    text-align: center; 
    transition: background-color 0.3s, color 0.3s; 
}

.list li:hover {
    background-color: var(--color-primary);
    border: 2px solid var(--color-secondary);
    color: var(--text-light);
    cursor: pointer;
}

.link {
    text-decoration: none;
    font-size: 20px;
    color: var(--text-light);
}

