.homepage-container {
  width: 100vw;
  height: 100vh;
  background-image: url("/homepage_image.png");
  background-repeat: no-repeat;
  border: 4px SOLID BLUE;
  background-size: cover;
}

.navbar {
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.next-up-container {
  position: absol;
  background-image: url("/nextUplogo.webp");
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  border: 2px yellow solid;
}

.next-up-arrow {
  background-image: url("/next-up-arrow.png");
  background-repeat: no-repeat;
}

.next-up-logo {
  background-image: url("/next-up-logo.png");
  border: 3px solid orange;
  width: 100%;
}
