:root {
    --text-color: #fff;
    --primary-color: #3af0bf;
    --secondary-color: #3faeee;
    --link-color: #842d9e;
    --dark-color: #4b465e;
    --button-color: #efeff3;
    --background-color: #f4f277;
    --box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    --font-nunito: "Nunito"
}